<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.befilerclown">
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".settings"></activity>

        <activity android:name=".faqs" />
        <activity android:name=".calculator" />
        <activity android:name=".verify_ntn" />
        <activity android:name=".register_ntn" />
        <activity android:name=".login" />
        <activity android:name=".efilling" />
        <activity android:name=".home" />
        <activity android:name=".main" />
        <activity android:name=".forgotpwd" />
        <activity android:name=".signup" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>